<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hola! <%= @user.email %></p>
    <p>This is the reminder for your favourite TV show..</p>
    <p>On channel <%= @channel.name %> </p>
    <p>Show <%= @show.name %> at <%= @show.show_time %></p>
  </body>
</html>